
.sweet-info ,.sweet-danger,.sweet-success,.sweet-warning{
    display:flex;
    background-color: #fff;
    width: 25%;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.3);
    margin:10px;
}
.sweet-info{
    border-left: solid 5px rgb(93, 93, 255);
}
.sweet-danger{
    border-left: solid 5px rgb(255, 56, 56);
}

.sweet-success{
    border-left: solid 5px rgb(39, 167, 0);
}
.sweet-warning{
    border-left: solid 5px rgb(216, 240, 7);
}
.img-info{
    width: 30px;
    height:30px;
    display: flex;
    margin-top: 9px;
    margin-left: 8px;
}
.btn-info ,.btn-danger ,.btn-success ,.btn-warning{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 8px;
    
}
.hidden{
    display: none;
}

.btn-success:hover,.btn-warning:hover,.btn-danger:hover,.btn-info:hover {
    color:red;
}

.contore ,.contore-d ,.contore-s{
    font-weight: bold;
    margin-right: 3px;
    margin-left: 1px;
    
}

.del-hid-info,.del-hid-danger,.del-hid-success,.del-hid-warning{
    background-color: rgb(65, 65, 255);
    border: none;
    padding:10px;
    border-radius: 10px;
    color:#fff;
}

.sweet-alert,.sweet-alert-d,.sweet-alert-s,.sweet-alert-w{
    position: absolute;
    bottom: 50%;
}
.sweet-alert{
    left: 35%;
}
.sweet-alert-d{
    left: 44%;
}
.sweet-alert-s{
    left: 54%;
}
.sweet-alert-w{
    left: 64%;
}