
.sweet-info{
    display:flex;
    background-color: #fff;
    width: 25%;
    justify-content: space-between;
    border-radius: 10px;
    border-left: solid 5px rgb(93, 93, 255);
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.3);
}
.sweet-danger{
    display:flex;
    background-color: #fff;
    width: 25%;
    justify-content: space-between;
    border-radius: 10px;
    border-left: solid 5px rgb(255, 56, 56);
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.3);
}
.img-info{
    width: 30px;
    height:30px;
    display: flex;
    margin-top: 9px;
    margin-left: 8px;
}
.btn-info ,.btn-danger{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 8px;
}
.hidden{
    display: none;
}
.btn-info:hover{
    color:red;
}
.contore ,.contore-d{
    font-weight: bold;
    margin-right: 5px;
}
.sweet-alert{
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 40%;

}
.del-hid-info{
    background-color: rgb(65, 65, 255);
    border: none;
    padding:10px;
    border-radius: 10px;
    color:#fff;
}
.sweet-alert-d{
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 48%;
}
.del-hid-danger{
    background-color: rgb(65, 65, 255);
    border: none;
    padding:10px;
    border-radius: 10px;
    color:#fff;
}