body{
    background-color: darkslateblue;
}
.sweet-info{
    display:flex;
    background-color: #fff;
    width: 25%;
    justify-content: space-between;
    border-radius: 10px;
}
.img-info{
    width: 30px;
    height:30px;
    display: flex;
    margin-top: 9px;
    margin-left: 8px;
}
.btn-info{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 8px;
}
.hidden{
    display: none;
}
.btn-info:hover{
    color:red;
}
.sweet-info::before{
    position:absolute;
    content:"";
    height: 3px;
    width: 100%;
    bo
}